.special {
    background-color: $main-color;
    background-position: center top;
    background-repeat: repeat-x;
    background-image: url("../img/bg-transparent-3.webp");

    & > .container {
        height: 140px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__img {
        width: 210px;
        align-self: flex-end;     
    }

    &__text {
        margin: 20px 30px;
        font-size: 20px;
        color: #fff;
    }

    &__link {
        margin-left: 30px;
        color: rgba(255,255,255,0.7);
        text-decoration: underline;
        transition: color .2s ease;
        &:hover {
            color: #fff;
        }
    }
}