.subheader {
    height: 60px;
    background-color: rgb(30, 49, 32);
    background-position: center top;
    background-repeat: repeat-x;
    background-image: url("../img/bg-transparent-3.webp");

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__item {
        padding: 17px 20px;
        color: rgba(255, 255, 255, 0.8);
        font-weight: 400;
        line-height: 1.8;
        span {
            color: rgb(255, 255, 255);
            font-weight: 600;
        }
    }
}